# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

TransparentTextLabel.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TransparentTextLabel.xcodeproj/project.xcworkspace/xcshareddata/TransparentTextLabel.xccheckout
TransparentTextLabel.xcodeproj/project.xcworkspace/xcuserdata/alexandrebarbier.xcuserdatad/UserInterfaceState.xcuserstate
TransparentTextLabel.xcodeproj/project.xcworkspace/xcuserdata/alexandrebarbier.xcuserdatad/WorkspaceSettings.xcsettings
TransparentTextLabel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TransparentTextLabel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcschemes/TransparentTextLabel.xcscheme
TransparentTextLabel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcschemes/xcschememanagement.plist
